<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>@Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="@Description"/>
    <meta name="author" content="@Properties["project-author"]"/>

    <script src="https://code.jquery.com/jquery-1.8.0.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet"/>

    <link type="text/css" rel="stylesheet" href="@Root/content/style.css" />
    <script type="text/javascript" src="@Root/content/tips.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://fsharp.org">fsharp.org</a></li>
          <li><a href="@Properties["project-github"]">github page</a></li>
        </ul>
        <h3 class="muted"><a href="@Root/index.html">@Properties["project-name"]</a></h3>
      </div>
      <hr />
      <div class="row">
        <div class="span9" id="main">
          @RenderBody()
        </div>
        <div class="span3">
          <img src="@Root/img/logo.png" alt="F# Project" style="width:150px;margin:10px" />  
          <ul class="nav nav-list" id="menu" style="margin-top: 20px;">
            <li class="nav-header">@Properties["project-name"]</li>
            <li><a href="@Root/index.html">Home page</a></li>

            <li class="divider"></li>
            <li><a href="@Properties["project-nuget"]">Get Library via NuGet</a></li>
            <li><a href="@Properties["project-github"]">Source Code on GitHub</a></li>
            <li><a href="@Root/license.html">License</a></li>
            <li><a href="@Root/release-notes.html">Release Notes</a></li>
            
            <li class="nav-header">Getting started</li>
            <li><a href="@Root/tutorial.html">Sample tutorial</a></li>
            <li><a href="@Root/SpiseMisu.Example.SemVer.html">Example</a></li>
            <li><a href="@Root/SpiseMisu.Raw.SemVer.html">Raw</a></li>
            <li><a href="@Root/SpiseMisu.Docs.SemVer.html">Docs</a></li>
            <li><a href="@Root/SpiseMisu.Assembly.SemVer.html">Assembly</a></li>
            <li><a href="@Root/SpiseMisu.NuGet.SemVer.html">NuGet</a></li>

            <li class="nav-header">Documentation</li>
            <li><a href="@Root/reference/index.html">API Reference</a></li>
          </ul>
        </div>
      </div>
    </div>
    <a href="@Properties["project-github"]"><img style="position: absolute; top: 0; right: 0; border: 0;" src="@Root/img/forkme_right_green_007200.png" alt="Fork me on GitHub"/></a>
  </body>
  </html>
